body{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
    background-image: url("images/celeste2.gif");
    background-attachment: fixed;
    background-size: cover;
}

div{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
    width: auto ;
    border: 25px ;
    padding: 25px;
}

.titulo {
    font-size: 200%;

}
.subtitulo {
    font-size: 160%;
}
.inst{
    background-color: #fff5f8;
}
.inst2{
    background-color: #fff5f8;
}
.segunda {
    font-weight: bold;
}
.cientifico{
    width: 200px;
    align-content: center;
    border-color: black;
    border-width: 100px;
    border-radius: 20px;
}
.footer{
    float: inherit;
}

ul {
    display: inline-table;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 0;
    width: 425px;
    background-color: #f1f1f1;
    border-color: black;
}

li a {
    float: left;
    display: inline-table;
    color: black;
    border-color: black;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: darkgrey;
    color: lightskyblue;

}
